
.cajarutas{
    background-image: url('../images/rutita.jpg');
    background-color: #cccccc;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 100px 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 600px;
    gap: 1rem;
    
} 

.caja { 
    background-color: rgb(245, 222, 159);
    opacity: 75%;
    border: 3px solid black;
    box-shadow: -15px 5px 33px -2px rgba(0, 0, 0, 0.75);
    transition: transform 0.2s;
    
}
.caja:hover{
  
  transform: scale(1.1);

}


.caja img {
  max-width: 50%;
  min-height: 2vh;
  display: block;
  text-align: center;
  padding: auto;
  margin:5rem;
  
}
.caja img:hover{
  transform: scale(1.8);
  padding: auto;
  
}

.h1place{
  color: blue;
  text-align: center;
}

.h3caja{
  color:black(146, 203, 236);
  text-align: center;
  
  
  

}


.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
    width: 200px;
    margin: 0 auto;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  
  
}

.ec-stars-wrapper:hover a {
	color: rgb(39, 130, 228);
  text-align: right;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
  text-align: right;
}


@media screen and (max-width: 700px) {
  * {
    font-size: 11px;
  }
}
@media screen and (max-width: 280px) {
  .caja {
    width: 95%;
  }
}
@media screen and (max-height: 600px) {
  .caja {
    overflow: scroll;
  }
  /* h4 {
    margin-bottom: 2rem;
  } */
}