
.cajarutas{
    background-image: url('../images/rutita.jpg');
    background-color: #cccccc;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 100px 1rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 400px;
    gap: 1rem;
    
} 

.caja { 
    background-color: rgb(78, 99, 2);
    opacity: 75%;
    border: 1px solid black;
    box-shadow: -15px 5px 33px -2px rgba(0, 0, 0, 0.75);
}


.caja img {
  max-width: 100%;
}


